@media (max-width: 768px) {
    
    
    .flip-clock-wrapper {
        text-align: center;
        position: relative;
        /*width: 100%;*/
        width: 216px;
        /*margin: 1em;*/
        margin: 0 auto;
    }

    /* Skeleton */
    .flip-clock-wrapper ul {
        list-style: none;
        display: inline-block; /* agregado por orlando */
        padding-left: 0; /* agregado por orlando */
        position: relative;
        float: left;
        margin: 1px;
        /*width: 60px;*/
        width: 30px;
        /*height: 90px;*/
        height: 40px;
        /*font-size: 80px;*/
        font-size: 30px;
        font-weight: bold;
        /*line-height: 87px;*/
        line-height: 41px;
        border-radius: 6px;
        background: #000;
    }


    .flip-clock-wrapper ul li {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /*line-height: 87px;*/
        line-height: 41px;
        text-decoration: none !important;
    }



    .flip-clock-wrapper ul li a div {
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        /*font-size: 80px;*/
        font-size: 30px;
        overflow: hidden; 
        outline: 1px solid transparent; 
    }



    .flip-clock-wrapper ul li a div.up:after {
        content: "";
        position: absolute;
        /*top: 44px;*/
        top: 18px;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 3px;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.4); 
    }



    .flip-clock-wrapper ul li a div div.inn {
        position: absolute;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 200%;
        color: #ccc;
        text-shadow: 0 1px 2px #000;
        text-align: center;
        background-color: #333;
        border-radius: 6px;
        /*font-size: 70px;*/ 
        font-size: 30px;
    }



    .flip-clock-divider {
        float: left;
        display: inline-block;
        position: relative;
        width: 12px;
        /*height: 100px;*/
        height: 15px;
        margin:8px 0;
    }           

    /* solo para este media */
    .flip-clock-dot {
        display: block;
        background: #323434;
        /*width: 10px;*/
        width: 6px;
        /*height: 10px;*/
        height: 6px;
        position: absolute;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        left: 3px;
    }

    .flip-clock-dot.top {
        /*top: 30px;*/
        top: 16px;
    }

    .flip-clock-dot.bottom {
        /*bottom: 30px;*/
        bottom: 5px;
    }
         
    
 
}
       
@media (max-width: 360px) {
    
 

    .flip-clock-wrapper {
        text-align: center;
        position: relative;
        /*width: 100%;*/
        width: 148px;
        /*margin: 1em;*/
        margin: 0 auto;
    }

    /* Skeleton */
    .flip-clock-wrapper ul {
        list-style: none;
        display: inline-block; /* agregado por orlando */
        padding-left: 0; /* agregado por orlando */
        position: relative;
        float: left;
        margin: 1px;
        /*width: 60px;*/
        width: 20px;
        /*height: 90px;*/
        height: 28px;
        /*font-size: 80px;*/
        font-size: 20px;
        font-weight: bold;
        /*line-height: 87px;*/
        line-height: 28px;
        border-radius: 6px;
        background: #000;
    }


    .flip-clock-wrapper ul li {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /*line-height: 87px;*/
        line-height: 28px;
        text-decoration: none !important;
    }



    .flip-clock-wrapper ul li a div {
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        /*font-size: 80px;*/
        font-size: 20px;
        overflow: hidden; 
        outline: 1px solid transparent; 
    }



    .flip-clock-wrapper ul li a div.up:after {
        content: "";
        position: absolute;
        /*top: 44px;*/
        top: 12px;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 3px;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.4); 
    }



    .flip-clock-wrapper ul li a div div.inn {
        position: absolute;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 200%;
        color: #ccc;
        text-shadow: 0 1px 2px #000;
        text-align: center;
        background-color: #333;
        border-radius: 6px;
        /*font-size: 70px;*/ 
        font-size: 20px;
    }



    .flip-clock-divider {
        float: left;
        display: inline-block;
        position: relative;
        /*width: 20px;*/
        width: 8px;
        /*height: 100px;*/
        height: 18px;
        margin:5px 0;
    }           

    /* solo para este media */
    .flip-clock-dot {
        display: block;
        background: #323434;
        /*width: 10px;*/
        width: 6px;
        /*height: 10px;*/
        height: 6px;
        position: absolute;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        /*left: 5px;*/
        left: 1px;
    }

    .flip-clock-dot.top {
        /*top: 30px;*/
        top: 12px;
    }

    .flip-clock-dot.bottom {
        /*bottom: 30px;*/
        bottom: 9px;
    }
         
    
    
    
}