/*fuentes externas*/
@import url("http://fonts.googleapis.com/css?family=Merienda");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Righteous");

/*fuentes internas*/
@font-face
{
    font-family: 'alex_brushregular';
    src: url("../font/alex-brush/alexbrush-regular-webfont.eot");
    src:
        url('../font/alex-brush/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/alex-brush/alexbrush-regular-webfont.woff') format('woff'),
        url('../font/alex-brush/alexbrush-regular-webfont.ttf') format('truetype'),
        url('../font/alex-brush/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;
}