.footer{
	padding: 25px;
}
.footer a, .footer a:link, .footer a:visited, .footer a:hover , .footer a:active 
{
	text-decoration: none;
	color: #fff;
}

@media (max-width: 767px) 
{
	.bac-footer
	{
		width: 200px;
	}
	.footer a, .footer a:link, .footer a:visited, .footer a:hover , .footer a:active 
	{
		text-decoration: none;
		color: #999;
	}
}

@media (max-width: 560px)
{
	.footer .sub-brand {
	    float: left;
	}
}

@media (max-width: 420px)
{
	.bac-footer
	{
		width: 150px;
	}
	.pulpro img
	{
		width: 50px;
	}
	.sub-brand p
	{
		font-size: 10px;
	}	
	.footer a, .footer a:link, .footer a:visited, .footer a:hover , .footer a:active 
	{
		text-decoration: none;
		color: #999;
	}
}

@media (max-width: 335px)
{
	.bac-footer
	{
		width: 200px;
	}
	.pulpro img
	{
		display: none;
		width: 50px;
	}
	.sub-brand p
	{
		display: none;
	}	
	.footer a, .footer a:link, .footer a:visited, .footer a:hover , .footer a:active 
	{
		text-decoration: none;
		color: #999;
	}
}