.jumbotron-misc {
    background-image: url(../media/img/jumbotron.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.jumbotron-misc:before {
    content: " ";
    background-image: url(../media/img/overlays/05.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.jumbotron-misc h1, .jumbotron-misc p {
    text-shadow: 2px 3px 10px #000;
    margin-top: 40px;
}
.sidebar-brand, .panel-heading.dark {
    padding: 10px 15px 18px 15px;
    display: block;
    background: #333 !important;
    color: #fff !important;
    margin-bottom: 20px;
}
.sidebar-brand h1 a {
    color: #fff !important;
    font-size: 0.5em;
}
.sidebar .nav > li > a {
    color: #555 !important;
}
.sidebar .nav > li > a:hover {
    color: #222 !important;
    font-weight: bold;
}
.bg-primary-dk {
    background-color: #ffbc00 !important;
}
.ddjj-archive .panel-heading h4{
	font-size: 1.2em; 
    color: #222;
    display: block;
    padding: 15px 15px;
}
.ddjj-archive .panel-heading h4 a{
	font-size: 0.9em; 
    padding: 15px 15px;
}
.ddjj-archive .panel-heading .row .btn-group{
	margin-top: 6px;
}
.date{
	font-size: 1em !important;
}
.time{
	font-size: 0.9em;
	margin-left: 0.7em;
}
.fa-2x {
    font-size: 2em !important;
}
.panel-title .col-md-1 a{
	padding: 0px !important;
}

.toast-message{
	display: block;
}
.pagination {
    border: 0 !important;
}
.pagination li a {
    color: #888;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    border:1px solid #ccc !important;
}
.pagination li a:hover {
    color: #333;
}
.currentPage{
    font-weight: 600 !important;
    color: #333 !important;
}