/*estilo para el carrusel de imagenes*/

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

/*borde de las imagenes*/
.submenu .photo { 
   padding:8px 8px 20px 8px; 
   background-color: #ffffff; 
   width: 200px; 
   border: 1px solid #999999; 
} 
.submenu div img
{
    width: 200px !important;
    height: 150px !important;
}