.row.no-margin{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.ddjj-supervisor .panel-heading h4{
	font-size: 1.2em; 
    color: #222;
    display: block;
    padding: 15px 15px;
}
.ddjj-supervisor span.panel-title{
	font-size: 1em !important;
	color: #333;
}
.ddjj-supervisor .row.no-margin div {
    padding: 10px;
}
.ddjj-supervisor .row.no-margin div span {
    font-size: 0.9em;
    color: #333;
}
.ddjj-supervisor .panel .panel-heading .row.no-margin div:nth-of-type(1),
.ddjj-supervisor .panel .panel-heading .row.no-margin div:nth-of-type(2){
	color: #444;
}
.ddjj-supervisor input[type="text"] {
    border-radius: 5px;
    border: 1px solid #999;
    height: 30px;
	padding: 5px;
}
.user-search{
	margin-top: 10px;
}
.user-search span{
	font-size: 15px !important;
	color: #555;
	cursor: pointer;
}
.user-search span:hover{
	font-size: 17px !important;
	color: #111;
	cursor: pointer;
}
.user-search span:active{
	font-size: 15px !important;
	color: #333;
	cursor: pointer;
}