.demo-col,
.solid-tabs .chart-container.chart-container-bar .chart-bar-y-axis li:nth-child(even) span,
.solid-tabs .chart-container.chart-container-bar .chart-bars li:nth-child(even) span,
.solid-tabs .chart-container.chart-container-column .chart-column-x-axis li:nth-child(even) span,
.solid-tabs .chart-container.chart-container-column .chart-columns li:nth-child(even) span,
.solid-tabs .form-header,
.solid-tabs .tab-design-1 .tab-marker label,
.solid-tabs .tab-design-2 .tab-marker label,
.solid-tabs .tab-design-2 .tab-marker label span:after,
.solid-tabs .tab-design-2 .tab-marker.tab-marker-arrow label,
.solid-tabs .tab-design-2 .tab-marker.tab-marker-arrow label span:after,
.solid-tabs .tab-design-2 .tab-marker.tab-marker-arrow.tab-marker-tight label,
.solid-tabs .tab-design-2 .tab-marker.tab-marker-tight>li label,
.solid-tabs .tab-design-3 .tab-marker label,
.solid-tabs .tab-design-3 .tab-marker label span:after,
.solid-tabs .tab-design-3 .tab-marker label span:before,
.solid-tabs .tab-design-3 .tab-marker.tab-marker-arrow label,
.solid-tabs .tab-design-3 .tab-marker.tab-marker-arrow label span:after,
.solid-tabs .tab-design-3 .tab-marker.tab-marker-arrow label span:before,
.solid-tabs .tab-design-3 .tab-marker.tab-marker-arrow.tab-marker-tight label,
.solid-tabs .tab-design-3 .tab-marker.tab-marker-tight>li label,
.solid-tabs .tab-design-4 .tab-marker label,
.solid-tabs .tab-design-4 .tab-marker.tab-marker-pos-distribute>li:last-child label span:after,
.solid-tabs .tab-design-4 .tab-marker.tab-marker-pos-right>li:last-child label span:after,
.solid-tabs .tab-design-4 .tab-marker.tab-marker-tight>li label,
.solid-tabs .tab-design-5 .tab-marker label,
.solid-tabs .tab-design-5 .tab-marker.tab-marker-tight>li label,
.solid-tabs .tab-design-6 .tab-marker.tab-marker-arrow li>label,
.solid-tabs .tab-design-6 .tab-marker.tab-marker-arrow.tab-marker-tight li>label,
.solid-tabs .tab-design-7 .tab-marker.tab-marker-arrow li>label,
.solid-tabs .tab-design-7 .tab-marker.tab-marker-arrow.tab-marker-tight li>label,
.solid-tabs .tab-marker label,
.solid-tabs .tab-marker.tab-marker-arrow li>label,
.solid-tabs .tab-marker.tab-marker-arrow.tab-marker-tight li>label,
.solid-tabs .text-callout,
.solid-tabs table.table-heading-default.table-responsive th,
.solid-tabs table.table-orders tr th {
    background: #dd840d
}

.solid-tabs .fa.fa-bars,
.solid-tabs .form-group.form-group-checkbox input[type=checkbox]+span.check-fa-3:after,
.solid-tabs .form-group.form-group-checkbox input[type=checkbox]+span:after,
.solid-tabs .form-group.form-group-checkbox input[type=checkbox]:checked+span~label,
.solid-tabs .form-group.form-group-radio input[type=radio]+span.radio-fa-3:after,
.solid-tabs .form-group.form-group-radio input[type=radio]+span:after,
.solid-tabs .form-group.form-group-radio input[type=radio]:checked+span~label,
.solid-tabs .form-group.form-group-rating input[type=radio]+label:hover,
.solid-tabs .form-group.form-group-rating input[type=radio]+label:hover~label,
.solid-tabs .form-group.form-group-rating input[type=radio]:checked~label,
.solid-tabs .icon-container i,
.solid-tabs .tooltip .tooltip-marker.tooltip-marker-simple {
    color: #dd840d
}

.border-radius-100 {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%
}

.solid-tabs .tab-design-12 .tab-marker path,
.solid-tabs .tab-design-6 .tab-marker.l-inline-list>li label svg,
.solid-tabs .tab-design-7 .tab-marker.l-inline-list>li label svg.svg-l,
.solid-tabs .tab-design-7 .tab-marker.l-inline-list>li label svg.svg-r {
    fill: #dd840d
}

.solid-tabs .tab-design-1 .tab-marker.tab-marker-tight.tab-marker-tight-separator>li label,
.solid-tabs .tab-design-11 .tab-marker.tab-marker-tight.tab-marker-tight-separator>li label,
.solid-tabs .tab-design-2 .tab-marker.tab-marker-tight.tab-marker-tight-separator>li label,
.solid-tabs .tab-design-3 .tab-marker.tab-marker-tight.tab-marker-tight-separator>li label,
.solid-tabs .tab-design-4 .tab-marker.tab-marker-tight.tab-marker-tight-separator>li label,
.solid-tabs .tab-design-5 .tab-marker.tab-marker-tight.tab-marker-tight-separator>li label,
.solid-tabs .tab-design-6 .tab-marker.tab-marker-tight.tab-marker-tight-separator>li label,
.solid-tabs .tab-design-8 .tab-marker.tab-marker-tight.tab-marker-tight-separator>li label,
.solid-tabs .tab-marker.tab-marker-tight.tab-marker-tight-separator>li label {
    border-left: 1px solid #c5760c
}

.solid-tabs .tab-design-12 .tab-content {
    border: 5px solid #dd840d
}

.solid-tabs .tab-design-15 .tab-marker>li.top-left-corner {
    border-top-color: #dd840d
}

.solid-tabs .tab-design-15 .tab-marker>li.top-right-corner {
    border-right-color: #dd840d
}

.solid-tabs .tab-design-15 .tab-marker>li.bottom-left-corner {
    border-left-color: #dd840d
}

.solid-tabs .tab-design-15 .tab-marker>li.bottom-right-corner {
    border-bottom-color: #dd840d
}

.solid-tabs .heading-border-bottom-5 {
    border-bottom: 5px solid #dd840d
}

.solid-tabs blockquote {
    border-left: 6px solid #dd840d
}

.solid-tabs .heading-border-left-5 {
    border-left: 5px solid #dd840d
}

.solid-tabs .video-container {
    border: 8px solid #dd840d
}

.solid-tabs .btn-default {
    background: #dd840d;
    -webkit-box-shadow: 0 4px 0 0 #ad670a;
    -moz-box-shadow: 0 4px 0 0 #ad670a;
    box-shadow: 0 4px 0 0 #ad670a
}

.solid-tabs .btn-default:hover {
    background: #cf7b0c
}

.solid-tabs .form-body input:focus~i.fa,
.solid-tabs .form-body select:focus~i.fa,
.solid-tabs .form-group textarea:focus~i.fa,
.solid-tabs .form-group.form-group-switch .switch-input:checked~.switch-label {
    background: #dd840d
}

.solid-tabs .form-group.form-group-checkbox input[type=checkbox]+span:after,
.solid-tabs .form-group.form-group-radio input[type=radio]+span:after {
    background: #dd840d;
    border-color: #dd840d!important
}

.solid-tabs .form-group.form-group-checkbox input[type=checkbox]+span.check-fa-1:after,
.solid-tabs .form-group.form-group-checkbox input[type=checkbox]+span.check-fa-2:after,
.solid-tabs .form-group.form-group-radio input[type=radio]+span.radio-fa-1:after,
.solid-tabs .form-group.form-group-radio input[type=radio]+span.radio-fa-2:after {
    background: #dd840d
}

.solid-tabs .profile-card-container.profile-card-design-1 .profile-card-header {
    background: #dd840d
}

.solid-tabs .profile-card-container::-webkit-scrollbar-thumb {
    background: #dd840d
}

.solid-tabs .profile-card-container.profile-card-design-1 .profile-card-body .profile-card-body-details .list-bars li .bars .percentage,
.solid-tabs .profile-card-container.profile-card-design-2 .profile-card-header,
.solid-tabs .profile-card-container.profile-card-design-3 .profile-card-header {
    background: #dd840d
}

.solid-tabs .profile-card-container.profile-card-design-4 {
    border: 3px solid #dd840d
}

.solid-tabs .tooltip .tooltip-marker.tooltip-marker-profile {
    background: #dd840d
}

.solid-tabs .tooltip .tooltip-marker.tooltip-marker-underline {
    border-bottom: 1px solid #dd840d
}

.solid-tabs .tooltip .tooltip-main-content {
    border: 2px solid #dd840d
}

.solid-tabs .tooltip .tooltip-main-content.tooltip-main-content-profile {
    background: #dd840d
}

.solid-tabs .tooltip .tooltip-main-content.tooltip-main-content-profile:after {
    border-top-color: #dd840d
}

.solid-tabs .tooltip .tooltip-main-content.tooltip-main-content-bubble {
    border: 6px solid #dd840d
}

.solid-tabs .tooltip .tooltip-main-content.tooltip-main-content-bubble:after {
    border-top-color: #dd840d
}

.solid-tabs .preloader-container {
    background: #dd840d
}

.solid-tabs .quotation,
.solid-tabs .tab-design-9 .tab-content {
    border-color: #dd840d
}

.solid-tabs .quotation {
    background: #dd840d
}

.solid-tabs .quotation:after {
    border-color: #dd840d transparent transparent
}

.solid-tabs .accordion-container .accordion-level>label {
    background: #dd840d;
    border-top: 1px solid #f5b35b;
    border-bottom: 1px solid #955909
}
