/* estilos generales */
*{
    outline: none !important;
}
.no-padding
{
    padding: 0px !important;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.text-uppercase{
    text-transform: uppercase;
}
#wrapper
{
    width: 100% !important;
    min-height: 570px;
}
/* template oculto */
.template
{
    display: none;
}

/* */
.input-group-btn
{
    font-size: 12px !important;
}

.input-group
{
    margin: 20px 0;
}
.thumbnail
{
    margin: 20px 0;
}
.six-sec-ease-in-out
{
   -webkit-transition: width 2s ease-in-out, background-color 5s ease;
   -moz-transition: width 2s ease-in-out, background-color 5s ease;
   -ms-transition: width 2s ease-in-out, background-color 5s ease;
   -o-transition: width 2s ease-in-out, background-color 5s ease;
   transition: width 2s ease-in-out, background-color 5s ease;
}
#countDown
{
    color : #fff;
}
.modal-body {
   /*text-align: center;*/
}
/* paginador */
.pagination a
{
    width: auto;
    height: auto;
}
.pagination input {
    padding: 6px 0px;
    width: 80px;
    height: auto;
}

/* pestañas */
.tab-container{
    position: relative;
}
.tabs-data
{
    /* Para hacer el efecto
    slide tienen que tener
    posicionamiento absoluto
    position: absolute;
    right: 16%; */
}
.tab-menu svg
{
    right: -25px !important;
}
.tab-content-container .tab-content div div div div span button
{
    color: #555;
    border-color: #d0d0d0 !important;
    border: 1px solid;
    cursor: default;
}
.tab-content-container .tab-content div div div div span button:active
{
    background-image: linear-gradient(to bottom, #fbfbfb 0%, #f2f2f2 100%) !important;
    background-color: #f2f2f2 !important;
    border-color:#d0d0d0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), inset 0 -2px 0 rgba(0, 0, 0, 0.075);
}
.tab-content-container .tab-content div div div div span select
{
    color: #555;
    border-color: #d0d0d0 !important;
    border: 1px solid;
}
object
{
    width: 100%;
}
.solid-tabs a:link, .solid-tabs a:visited
{
    padding: 6px 12px;
}
.tab{
  margin:0px 10px;
  padding: 0px;
}
.tab-menu.l-row.margin-bottom-0 > ul > li > label
{
  margin-bottom: 0px;

}
/*
.tab-menu.l-row.margin-bottom-0 > ul > li > label {
    background: rgba(29,148,144,1);
    background: -moz-linear-gradient(left, rgba(29,148,144,1) 50%, rgba(29,148,144,0.02) 100%);
    background: -webkit-gradient(left top, right top, color-stop(50%, rgba(29,148,144,1)), color-stop(100%, rgba(29,148,144,0.02)));
    background: -webkit-linear-gradient(left, rgba(29,148,144,1) 50%, rgba(29,148,144,0.02) 100%);
    background: -o-linear-gradient(left, rgba(29,148,144,1) 50%, rgba(29,148,144,0.02) 100%);
    background: -ms-linear-gradient(left, rgba(29,148,144,1) 50%, rgba(29,148,144,0.02) 100%);
    background: linear-gradient(to right, rgba(29,148,144,1) 50%, rgba(29,148,144,0.02) 0%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d9490', endColorstr='#1d9490', GradientType=1 );
    background-color: #333;
}
/* borde porcentaje en pestaña */
.border-bottom-percentage {
  border-bottom: 5px solid #1d9490;
  position: absolute;
  bottom: 0;
  z-index: 16;
  width: 50%;
}
li.tab-menu > ul > li > label > svg:after{
    content: "";
    width: 50%;
    background-color: red;
}
.activetab
{
    z-index: 11 !important;
}
.input-doble-line
{
    height: 54px !important;
    text-align: left;
}
.input-triple-line
{
   height: 81px !important;
   text-align: left;
}
.no-margin-top
{
    margin-top: 0 !important;
}
/*     .company-dates-container
{
position: relative;
top: -20px;
} */
.tab-content .tab-menu ul
{
    background-color: #333;
    color: #fff;
    border-top: 3px solid #666;
}

.tab-content .tab-menu ul li
{
    display: inline-block;
    padding: 5px 12px 5px 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;

}
/* .tab-content .tab-menu ul li:hover
{
    background-color: #1d9490;

} */
.tab-content .tab-menu ul li i
{
    padding: 7px;
}
.fadeInDown
{
    animation-name: fadeInDown;
}
/* panelcitos */
.panel-group
{
    box-shadow: none !important;
}
.panel .panel-heading
{
    color: #888;
    border-color: #d0d0d0 !important;
    border: 1px solid;
    border-radius: 4px !important;
}
.panel .panel-heading span:nth-of-type(1)
{
    font-size: 0.9em;
    /*padding-left: 10px;*/
}

/*cifrado*/
.dropOff {
    border: 2px dotted #333;
    width: 100%;
    color: #92AAB0;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font-size: 150%;
    height: 100%;
}
.dropOn {
    border: 2px dotted #333;
    width: 100%;
    color: #92AAB0;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font-size: 150%;
    height: 100%;
}
/* footer */
.footer-button div div
{
  display: inline;
}

/* submenu */
.hvr-bounce-to-bottom.active {
  background-color: #1d9490 !important;
}
.hvr-bounce-to-bottom.active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.hvr-bounce-to-bottom:before
{
    background: #1d9490;
}
/**/
.solid-tabs .btn-warning {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/* progress bar */
.ddjj-progress-bar
{
    background-color: #6EAA2E; /* verde */
    text-align: center;
    height: 10px;
}
.ddjj-progress
{
    /*margin: 0 10px;*/
}
#countDown
{
    color : #fff;
}
.modal-body
{
       /*text-align: center;*/
}

/* error en select boton*/
select.has-error{
    border: 1px solid #bc4946 !important;
    border-color: #bc4946 !important;
}


/*  icono warning en pestañas(tabs) y sub pestañas */

.fa-warning
{
    color: red;
}
.fa-warning:before, .fa-exclamation-triangle:before {
    content: "\f071" !important;
}
/*boton enviar*/
#send-form{
    color: #fff;
}

li.tab-5 div div.ddjj-tab-5-container div.ddjj-tab-5 button.btn.btn-info
{
    color: #fff;
    margin-left: 10px;
}

.alert-danger, .bg-danger {
    background-color: #f8e2e1 !important;
}
.has-warning .form-control {
    border-color: #dd7731 !important;
}

/* para evitar que el popover se corte */
.tab-content{
    overflow: visible !important;
}

/*popover*/
.popover{
    width: 150px !important;
}

/* tab5 has error */
.ddjj-tab-5-container .has-error{
    color: #911d1a !important;
}

.label-disclaimer{
    display: inline !important;
    margin-bottom : 0px !important;
    font-family: "OpenSans" !important;
}

