.border-radius-100 {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%
}

.solid-tabs .l-container:after,
.solid-tabs .l-container:before,
.solid-tabs .l-group:before,
.solid-tabs .l-row:after,
.solid-tabs .l-row:before {
    display: block;
    content: "";
    clear: both;
    visibility: hidden
}

.solid-tabs .l-container {
    margin: 0 auto;
    padding: .5em 1em
}

.solid-tabs .l-row {
    margin-bottom: 1em
}

.solid-tabs .margin-bottom-0 {
    margin-bottom: 0!important
}

.solid-tabs .margin-bottom-half {
    margin-bottom: .5em!important
}

.solid-tabs [class^=l-col] {
    position: relative;
    min-height: 1px;
    padding: 0 1em;
    float: left
}

.solid-tabs .l-col-12 {
    width: 100%
}

.solid-tabs .l-col-11 {
    width: 91.66666667%
}

.solid-tabs .l-col-10 {
    width: 83.33333333%
}

.solid-tabs .l-col-9 {
    width: 75%
}

.solid-tabs .l-col-8 {
    width: 66.66666667%
}

.solid-tabs .l-col-7 {
    width: 58.33333333%
}

.solid-tabs .l-col-6 {
    width: 50%
}

.solid-tabs .l-col-5 {
    width: 41.66666667%
}

.solid-tabs .l-col-4 {
    width: 33.33333333%
}

.solid-tabs .l-col-3 {
    width: 25%
}

.solid-tabs .l-col-2 {
    width: 16.66666667%
}

.solid-tabs .l-col-1 {
    width: 8.33333333%
}

.solid-tabs .l-col-push-12 {
    left: 100%
}

.solid-tabs .l-col-push-11 {
    left: 91.66666667%
}

.solid-tabs .l-col-push-10 {
    left: 83.33333333%
}

.solid-tabs .l-col-push-9 {
    left: 75%
}

.solid-tabs .l-col-push-8 {
    left: 66.66666667%
}

.solid-tabs .l-col-push-7 {
    left: 58.33333333%
}

.solid-tabs .l-col-push-6 {
    left: 50%
}

.solid-tabs .l-col-push-5 {
    left: 41.66666667%
}

.solid-tabs .l-col-push-4 {
    left: 33.33333333%
}

.solid-tabs .l-col-push-3 {
    left: 25%
}

.solid-tabs .l-col-push-2 {
    left: 16.66666667%
}

.solid-tabs .l-col-push-1 {
    left: 8.33333333%
}

.solid-tabs .l-col-offset-12 {
    margin-left: 100%
}

.solid-tabs .l-col-offset-11 {
    margin-left: 91.66666667%
}

.solid-tabs .l-col-offset-10 {
    margin-left: 83.33333333%
}

.solid-tabs .l-col-offset-9 {
    margin-left: 75%
}

.solid-tabs .l-col-offset-8 {
    margin-left: 66.66666667%
}

.solid-tabs .l-col-offset-7 {
    margin-left: 58.33333333%
}

.solid-tabs .l-col-offset-6 {
    margin-left: 50%
}

.solid-tabs .l-col-offset-5 {
    margin-left: 41.66666667%
}

.solid-tabs .l-col-offset-4 {
    margin-left: 33.33333333%
}

.solid-tabs .l-col-offset-3 {
    margin-left: 25%
}

.solid-tabs .l-col-offset-2 {
    margin-left: 16.66666667%
}

.solid-tabs .l-col-offset-1 {
    margin-left: 8.33333333%
}

@media (max-width:1168px) {
    .solid-tabs .image-effects-section .l-col-4 {
        width: 50%
    }
    .solid-tabs .image-effects-section .l-col-4:last-child {
        width: 100%
    }
}

@media (max-width:1024px) {
    .solid-tabs [class^=l-col] {
        padding: 0 .5em
    }
    .solid-tabs .pricing-section .l-col-3 {
        width: 50%
    }
}

@media (max-width:894px) {
    .solid-tabs .chart-container.chart-container-bubble .bubble-x-axis,
    .solid-tabs .chart-container.chart-container-column .column-x-axis {
        position: absolute
    }
    #wrapper {
        margin: 40px auto 1em!important
    }
    .solid-tabs .settings-container {
        top: -140px
    }
    .solid-tabs .settings-container .l-row .l-col-2:nth-child(1n+2) {
        display: none
    }
    .solid-tabs .settings-container .l-row .l-col-2:last-child {
        display: block!important
    }
    .solid-tabs .settings-container .l-row .l-col-3 {
        display: none
    }
    .solid-tabs [class^=l-col] {
        width: 100%;
        margin-left: 0;
        left: 0;
        right: 0
    }
    .solid-tabs .tab-marker {
        float: none!important;
        display: block!important;
        clear: both!important;
        margin-right: 0!important
    }
    .solid-tabs .tab-marker li {
        display: block!important;
        width: 100%;
        margin: 0!important
    }
    .solid-tabs .tab-marker li label {
        border-left: 0!important;
        -webkit-border-radius: 0!important;
        -moz-border-radius: 0!important;
        border-radius: 0!important
    }
    .solid-tabs .tab-marker li label span:after,
    .solid-tabs .tab-marker li label span:before {
        display: none
    }
    .solid-tabs .tab-marker.tab-marker-arrow>li>label:before {
        display: none!important
    }
    .solid-tabs .tab-design-4 .tab-marker>li {
        -moz-transform: skew(0)!important;
        -ms-transform: skew(0)!important;
        -o-transform: skew(0)!important;
        transform: skew(0)!important;
        -webkit-transform: skew(0)!important
    }
    .solid-tabs .tab-design-5 .tab-menu,
    .solid-tabs .tab-design-8 .tab-menu {
        margin-bottom: 0!important;
        margin-top: 0!important
    }
    .solid-tabs .tab-design-5 .tab-content,
    .solid-tabs .tab-design-5 .tab-marker.l-inline-list>li label,
    .solid-tabs .tab-design-8 .tab-content,
    .solid-tabs .tab-design-8 .tab-marker.l-inline-list>li label {
        -webkit-border-radius: 0!important;
        -moz-border-radius: 0!important;
        border-radius: 0!important
    }
    .solid-tabs .tab-design-6 .tab-marker svg,
    .solid-tabs .tab-design-7 .tab-marker svg {
        display: none
    }
    .solid-tabs .tab-design-9 {
        width: 100%
    }
    .solid-tabs .tab-design-9 .tab-menu {
        margin: 0!important
    }
    .solid-tabs .tab-design-9 .tab-marker.l-inline-list>li:first-child,
    .solid-tabs .tab-design-9 .tab-marker.l-inline-list>li:last-child {
        -webkit-transform: none!important;
        -moz-transform: none!important;
        -ms-transform: none!important;
        -o-transform: none!important;
        transform: none!important
    }
    .solid-tabs .tab-design-9 .tab-content {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0;
        margin: 0;
        padding: 1em 1em 1.5em;
        width: auto
    }
    .solid-tabs .tab-design-9 .tab-menu-bottom,
    .solid-tabs .tab-design-9 .tab-menu-left,
    .solid-tabs .tab-design-9 .tab-menu-right {
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    .solid-tabs .tab-design-9 .tab-menu-bottom .tab-marker.l-inline-list,
    .solid-tabs .tab-design-9 .tab-menu-left .tab-marker.l-inline-list,
    .solid-tabs .tab-design-9 .tab-menu-right .tab-marker.l-inline-list {
        display: block
    }
    .solid-tabs .tab-design-9 .tab-menu-bottom .tab-marker.l-inline-list>li,
    .solid-tabs .tab-design-9 .tab-menu-left .tab-marker.l-inline-list>li,
    .solid-tabs .tab-design-9 .tab-menu-right .tab-marker.l-inline-list>li {
        margin: 0!important;
        -webkit-transform: none!important;
        -moz-transform: none!important;
        -ms-transform: none!important;
        -o-transform: none!important;
        transform: none!important
    }
    .solid-tabs .tab-design-9 .tab-menu-bottom .tab-marker.l-inline-list i,
    .solid-tabs .tab-design-9 .tab-menu-left .tab-marker.l-inline-list i,
    .solid-tabs .tab-design-9 .tab-menu-right .tab-marker.l-inline-list i {
        -webkit-transform: rotateZ(0)!important;
        -moz-transform: rotateZ(0)!important;
        transform: rotateZ(0)!important
    }
    .solid-tabs .tab-design-12 .tab-marker li {
        margin: 0 auto!important
    }
    .solid-tabs .tab-design-14 .tab-content {
        height: 240px
    }
    .solid-tabs .tab-design-14.tab-design-14-2 .tab-content {
        height: 480px
    }
    .solid-tabs .tab-design-14.tab-design-14-3 .tab-content {
        height: 720px
    }
    .solid-tabs .chart-container.chart-container-bar .chart-bars span {
        width: 100%!important
    }
    .solid-tabs .chart-container.chart-container-bar .bar-y-axis {
        position: absolute;
        z-index: 150
    }
    .solid-tabs .chart-container.chart-container-bar .bar-y-axis li {
        text-transform: uppercase
    }
    .solid-tabs .chart-container.chart-container-bar .bar-y-axis li span {
        padding-right: 23px!important;
        color: #fff!important;
        font-weight: 400;
        margin-top: -1px
    }
    .solid-tabs .chart-container.chart-container-bar .bar-x-axis {
        display: none
    }
    .solid-tabs .chart-container.chart-container-column .chart-column-x-axis li,
    .solid-tabs .chart-container.chart-container-column .chart-columns li {
        display: block;
        width: 100%!important;
        height: 40px!important;
        background: 0 0!important;
        margin-bottom: 8px
    }
    .solid-tabs .chart-container.chart-container-column .chart-column-x-axis span,
    .solid-tabs .chart-container.chart-container-column .chart-columns span {
        height: 40px!important;
        padding: 11px 5px 11px 0!important;
        text-align: right
    }
    .solid-tabs .chart-container.chart-container-column .column-y-axis {
        display: none
    }
    .solid-tabs .chart-container.chart-container-column .column-x-axis li {
        width: 100%;
        padding: 0 0 0 23px!important;
        color: #fff;
        font-size: 1.25em;
        text-transform: uppercase;
        line-height: 42px;
        text-align: left
    }
    .solid-tabs .chart-container.chart-container-bubble .chart-bubble-x-axis li,
    .solid-tabs .chart-container.chart-container-bubble .chart-bubbles li {
        display: block;
        width: 100%!important;
        height: 40px!important;
        margin-bottom: 8px
    }
    .solid-tabs .chart-container.chart-container-bubble .chart-bubble-x-axis li span,
    .solid-tabs .chart-container.chart-container-bubble .chart-bubbles li span {
        height: 40px!important;
        padding: 11px 5px 11px 0!important;
        text-align: right
    }
    .solid-tabs .chart-container.chart-container-bubble .chart-bubbles li:nth-child(even) {
        background: #0583bb
    }
    .solid-tabs .chart-container.chart-container-bubble .chart-bubbles li:nth-child(odd) {
        background: #ec4848
    }
    .solid-tabs .chart-container.chart-container-bubble .chart-bubbles li>span:after {
        opacity: 0
    }
    .solid-tabs .chart-container.chart-container-bubble .bubble-y-axis {
        display: none
    }
    .solid-tabs .chart-container.chart-container-bubble .bubble-x-axis li {
        width: 100%;
        padding: 0 0 0 26px!important;
        color: #fff;
        font-size: 1.25em;
        text-transform: uppercase;
        line-height: 40px;
        text-align: left
    }
    .solid-tabs .list-unordered-1,
    .solid-tabs .tab-design-1 .tab-menu-left .tab-marker>li label,
    .solid-tabs .tab-design-1 .tab-menu-right .tab-marker>li label {
        text-align: center
    }
    .solid-tabs .form-body .l-col-6 .form-group {
        margin-bottom: 1em!important
    }
    .solid-tabs .list-unordered-1 .l-row {
        padding: 1em
    }
    .solid-tabs .list-unordered-1 h3 {
        font-size: 2em
    }
    .solid-tabs .list-unordered-1 span {
        font-size: 1em
    }
    .solid-tabs .list-unordered-1,
    .solid-tabs .list-unordered-3 {
        text-align: center;
        font-size: 1.25em
    }
    .solid-tabs .tab-design-1 .tab-menu-left,
    .solid-tabs .tab-design-1 .tab-menu-right {
        width: 100%
    }
    .solid-tabs .tab-design-1 .tab-content-container.tab-content-container-side,
    .solid-tabs .tab-design-1 .tab-menu-left+.tab-content-container.tab-content-container-side {
        width: 100%!important
    }
}

@media (max-width:864px) {
    .solid-tabs .pricing-section .l-col-3 {
        width: 50%!important
    }
    .solid-tabs table {
        font-size: 80%
    }
    .solid-tabs .icon-container [class^=w-],
    .solid-tabs .image-effects-section .l-col-4 {
        width: 100%
    }
    .solid-tabs #profile-cards-section .l-col-3 {
        width: 50%!important
    }
}

@media (max-width:748px) {
    .solid-tabs .pricing-section .l-col-3 {
        width: 100%!important
    }
}

@media (max-width:640px) {
    .solid-tabs #profile-cards-section .l-col-3 {
        width: 100%!important
    }
}

@media (max-width:550px) {
    #wrapper {
        width: 99.5%
    }
    .solid-tabs table.table-responsive {
        font-size: 100%
    }
    .solid-tabs table.table-responsive thead tr {
        display: none
    }
    .solid-tabs table.table-responsive tbody tr:nth-child(2n+2) {
        background: #ec4848;
        margin-bottom: 1em
    }
    .solid-tabs table.table-responsive tbody td {
        display: block;
        position: relative;
        padding-left: 53%!important
    }
    .solid-tabs table.table-responsive tbody td:before {
        display: block;
        position: absolute;
        color: #ffe593;
        font-weight: 700;
        top: 7px;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap
    }
    .solid-tabs table.table-responsive tbody td:nth-of-type(1):before,
    .solid-tabs table.table-responsive tbody td:nth-of-type(2):before,
    .solid-tabs table.table-responsive tbody td:nth-of-type(3):before,
    .solid-tabs table.table-responsive tbody td:nth-of-type(4):before,
    .solid-tabs table.table-responsive tbody td:nth-of-type(5):before {
        color: #111
    }
    .solid-tabs table.table-responsive tbody td:nth-of-type(1):before {
        content: "City"
    }
    .solid-tabs table.table-responsive tbody td:nth-of-type(2):before {
        content: "Province"
    }
    .solid-tabs table.table-responsive tbody td:nth-of-type(3):before {
        content: "Population"
    }
    .solid-tabs table.table-responsive tbody td:nth-of-type(4):before {
        content: "Growth (%)"
    }
    .solid-tabs table.table-responsive tbody td:nth-of-type(5):before {
        content: "Status"
    }
    .solid-tabs table.table-responsive.table-bordered td:first-child {
        border-left: 1px solid #c8c8c8
    }
    .solid-tabs table.table-responsive.table-bordered td:last-child {
        border-right: 1px solid #c8c8c8
    }
    .solid-tabs .form-group.form-group-select select {
        background-position: 96%
    }
}

@media (max-width:528px) {
    .solid-tabs .tab-design-10 .tab-content-container {
        width: 280px
    }
    .solid-tabs .tab-design-10 .tab-content-container .tab-content .l-container {
        padding: 10px
    }
    .solid-tabs .tab-design-10 .tab-content-container .feed-container {
        padding: 0 .75em .5em
    }
    .solid-tabs .tab-design-10 .tab-content-container .feed-pic {
        margin-right: 6px
    }
    .solid-tabs .tab-design-10 .tab-content-container .feed-details {
        width: 160px
    }
    .solid-tabs .tab-design-10 .tab-content-container .feed-details .post-time {
        display: none
    }
}

@media (max-width:440px) {
    .solid-tabs .form-body {
        font-size: 90%
    }
    .solid-tabs .form-header {
        padding: .15em 1em 1em
    }
    .solid-tabs .form-header h2 {
        margin-top: 0
    }
    .solid-tabs .form-group-rating span {
        display: block;
        clear: both
    }
    .solid-tabs .form-group-rating span.rating-stars {
        float: left
    }
    .solid-tabs .form-group-rating span.rating-stars i:last-child {
        margin-right: 8px!important;
        margin-left: 0!important
    }
    .solid-tabs .image-effects-section .l-col-4 {
        width: 100%
    }
    .solid-tabs .image-effects-section .l-col-4 .image-container.image-container-threeD-peel {
        width: 220px;
        height: 170px
    }
    .solid-tabs .profile-card-container.profile-card-design-1 .w-35,
    .solid-tabs .profile-card-container.profile-card-design-1 .w-65,
    .solid-tabs .profile-card-container.profile-card-design-4 .w-40,
    .solid-tabs .profile-card-container.profile-card-design-4 .w-60 {
        width: 100%;
        clear: both
    }
    .solid-tabs .profile-card-container.profile-card-design-1 .profile-card-header {
        font-size: 85%;
        padding: 0 .5em 0 25px
    }
    .solid-tabs .profile-card-container.profile-card-design-1 .profile-card-body {
        padding: 1em
    }
    .solid-tabs .profile-card-container.profile-card-design-1 .profile-card-body .profile-card-body-details {
        padding: 0;
        margin-top: 15px;
        height: auto!important;
        overflow: visible!important
    }
    .solid-tabs .profile-card-container.profile-card-design-1 .profile-card-body .profile-card-body-details .designation,
    .solid-tabs .profile-card-container.profile-card-design-1 .profile-card-body .profile-card-body-details h4 {
        display: block;
        text-align: center!important
    }
    .solid-tabs .profile-card-container.profile-card-design-4 .profile-card-body {
        padding: 1em
    }
    .solid-tabs .profile-card-container.profile-card-design-4 .profile-card-body .profile-card-body-details {
        padding: 0;
        margin-top: 15px;
        height: auto!important;
        overflow: visible!important
    }
    .solid-tabs .profile-card-container.profile-card-design-4 .profile-card-body .profile-card-body-details .sub-header,
    .solid-tabs .profile-card-container.profile-card-design-4 .profile-card-body .profile-card-body-details h4 {
        text-align: center
    }
    .solid-tabs .profile-card-container.profile-card-design-4 .profile-card-body .profile-card-body-details .btn {
        display: block;
        width: 60%;
        margin: 20px auto 1px
    }
}

@media (max-width:320px) {
    #wrapper {
        width: 100%;
        margin: 0 auto
    }
    .solid-tabs .tab-main-container {
        padding: .5em .35em
    }
    .solid-tabs .image-effects-section .l-col-4 .image-container {
        margin-left: -10px
    }
    .solid-tabs .profile-card-container.profile-card-header h3 {
        font-size: 1.3em!important
    }
}
