.row.no-margin{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.ddjj-users .panel-heading h4{
	font-size: 1.2em; 
    color: #222;
    display: block;
    padding: 15px 15px;
}
.ddjj-users span.panel-title{
	font-size: 1em !important;
	color: #333;
}
.ddjj-users .row.no-margin div {
    padding: 10px;
}
.ddjj-users input[type="text"] {
    border-radius: 5px;
    border: 1px solid #999;
    height: 30px;
	padding: 5px;
}
.user-search{
	margin-top: 10px;
}
.user-search span{
	font-size: 15px !important;
	color: #555;
	cursor: pointer;
}
.user-search span:hover{
	font-size: 17px !important;
	color: #111;
	cursor: pointer;
}
.user-search span:active{
	font-size: 15px !important;
	color: #333;
	cursor: pointer;
}
.user-search-padding{
	padding-left: 100px;
}

/*Estilo que estaba en el archivo content_users.php*/

 .margin-container
{
 margin: 0% 5%;   
}
.break-word
{
 overflow-wrap: break-word;
 word-break: break-all;
 color: #777 !important;
 padding-left: 0px !important;

}
.tooltip-inner {
color: #fff !important;
font-weight: 700;
}
.tooltip-arrow {
    display: none;
}
.check-list{
    width: 100%;
    list-style-type: none;
    display: block;
    background-color: #878787;
    padding: 0;
    margin: 0 auto;
}
.check-list li{
    width: 14%;
    float: left;
    height: 35px;
    margin: 1px;
}
.check-list ul{
    margin: 0 auto;
    height: auto;
}
.check-list div{
    display: inline-table;;
    margin: 0 auto;
    margin-top: 10px; 
    padding: 0 !important;
}
.check-list label{
    color: #fff;
    padding-top: 0px;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    font-weight: lighter !important;
    float: left;
}
.check-list input{
    margin: 2px 0px 0px 10px;
    width: 16px;
    height: 18px;
    position: relative;
    /*background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
}
.show-permission{
	cursor: pointer;
}
.show-permission i:hover{
	/*font-size: 30px !important;*/
	color: #111;
	cursor: pointer;
}
